body {
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
}

#search {
    width: 20rem;
    height: 10rem;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.animals {
    margin: 0.5rem;
}

.item {
    margin: 1em;
}

#labelTxt {
    color: #ebf8e1;
    font-size: 1.5em;
}

#addAnimal {
    margin-left: 1rem;
    background: linear-gradient(0.25turn, #f69d3c, #ebf8e1, #3f87a6);
}

p {
    color: rgba(27, 10, 10, 0.884);
    padding-left: 0.5rem;
}

.item {
    border: 2px solid #D2691E;
    border-radius: 5px;
}